@model WEB.Areas.Admin.Models.ViewModels.Tag.TagVM
<h2>Delete Tag</h2>
<p>Are you sure you want to delete <strong>@Model.Name</strong>?</p>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger">Delete</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
