@model ApplicationCore.Entities.Concrete.Category
<h2>Kategoriyi Düzenle</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label>Slug</label>
        <input asp-for="Slug" class="form-control" />
    </div>
    <button class="btn btn-primary">Save</button>
</form>
